#################################
# Default bindings
#################################
section Vrui
	section Desktop
		section Tools
			section DefaultTools
				# Grab molecule: "f"
				section DragTool
					toolClass SixDofDraggingTool
					bindings ((Mouse, f))
				endsection

				# Transform key 3 to valuator
				section ValuatorBtn
					toolClass ButtonToValuatorTool
					bindings ((Mouse, g))
				endsection

				# Toggle sim: "h"
				# Toggle forces: "g"
				section SimToolKb
					toolClass SimulationControlTool
					bindings ((Mouse, h), (ValuatorBtn, Valuator0))
				endsection

				section SimToolLH
					toolClass SimulationControlTool
					#bindings ((Mouse, 2, 3))
					bindings ((RazerHydraLeft, 3, LT))
				endsection

				section SimToolRH
					toolClass SimulationControlTool
					bindings ((RazerHydraRight, 4, RT))
				endsection

				section ExperimentTool
					toolClass ExperimentControlTool
					bindings ((Mouse, Tab, "LeftCtrl+1", "LeftCtrl+2", "LeftCtrl+3", "LeftCtrl+4", "LeftCtrl+5", 1, 2, 3, 4, 5, Space, "LeftCtrl+Space", equal))
				endsection
			endsection
		endsection
	endsection
endsection
